// color

$babypink: #F2C7BD;
$darkpink: #BF4B75;
$brickred: #A6382E;
$darkbeige: #A67A6A;
$lightbeige: #BF9D7E;
$orange: #D97E4A;
$tangerin: #F2A20C;
$darkyellow: #F2B705;
$lightyellow: #F2CA50;
$greenishblue: #A3BFAD;
$green: #668C3F;
$greenblue: #3E7B6C;
$lightblue: #6FB1BF;
$lavenderviolet: #AA89D9;
$dark-lavenderviolet: #7460BF;

$logofont: 'Fredoka One', cursive;
$navfont: 'Poiret One', cursive;
$contentfont: 'Ubuntu', sans-serif;
